* { margin: 0; padding: 0; box-sizing: border-box; }

@font-face {
    font-family: 'FG Heavy';
    src: url('Franklin Gothic Heavy Regular.ttf') format('truetype'); /* Adjust the path to your .ttf file */
    font-weight: normal; /* Optional: Define font weight if needed */
    font-style: normal; /* Optional: Define font style if needed */
}

@font-face {
    font-family: 'FG Demi Cond'; /* Choose a descriptive name for your font */
    src: url('Franklin Gothic Demi Cond Regular.ttf') format('truetype'); /* Adjust the path to your .ttf file */
    font-weight: normal; /* Optional: Define font weight if needed */
    font-style: normal; /* Optional: Define font style if needed */
}

@font-face {
    font-family: 'FG Medium Cond'; /* Choose a descriptive name for your font */
    src: url('Franklin Gothic Medium Cond Regular.ttf') format('truetype'); /* Adjust the path to your .ttf file */
    font-weight: normal; /* Optional: Define font weight if needed */
    font-style: normal; /* Optional: Define font style if needed */
}

*{
    font-family:'FG Medium Cond';
}

@media screen and (min-width: 1025px) {
    #header{
        height:100px;
        background-color: #FFF;


        display: flex;
        align-items: center;
        justify-content: center;
        
        filter:drop-shadow(0px 5px 2px #c0c0c0);

        position:sticky;
        top:0;
        z-index: 99;
    }

    .header-text{
        font-family: 'FG Heavy';
        font-size:55px;

        position:relative;
        top:6px;
    }

    .header-img{
        height:80px;
    }

    .line{
        height:9px;
        background-color: #CECECE;
    }

    .img-display{
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .img-display img{
        max-width: 100%;
        min-height:400px;
        max-height:400px;
        display: block;
    
        /*
        mask-image: linear-gradient(
            to bottom,
            black 70%,
            transparent 100%
        );
        -webkit-mask-image: linear-gradient(
            to bottom,
            black 70%,
            transparent 100%
        );
        */

        object-fit: cover;
    }

    .prev-posts-con{
        min-height:300px;
        width:75%;
        margin:auto;
    }


    .prev-post-con{
        height:auto;
        display:flex;
        padding:20px;
        background-color: #FFF;
        filter:drop-shadow(0px 0px 1px #adadad);

        transition: transform 0.3s ease-in-out;
    }

    .prev-post-con:hover {
        transform: scale(1.1);
        filter:drop-shadow(0px 2px 8px #adadad);
    }

    .prev-post-con img{
        height:200px;
        width:266.7px;
        background-color: red;
    }

    .prev-post-deets{
        flex-grow: 1;

        padding-left:20px;
    }

    .prev-post-time{
        color:#A3A3A3;
    }


    .prev-post-title{
        font-family:'FG Demi Cond';
        font-size:30px;
        color:#3F6E45;
    }

    .prev-post-line{
        background-color: #D9D9D9;
        height:2px;
        width:100%;
    }

    .prev-post-text{
        color:#3F6E45;
        font-size: 20px;
    }


    .post-main-con{
        width:85%;
        margin:auto;
    }

    .post-header-con{
    
    }

    .post-header-content{
        display:flex;
    }

    .post-header-text{
        flex-grow: 1;
    }

    .post-title{
        font-family:'FG Demi Cond';
        font-size:50px;
        color:#3F6E45;
    }

    .post-time{
        color:#A3A3A3;
        font-size: 17px;
    }

    .post-header-content img{
        height:120px;
    }

    .post-line{
        background-color: #D9D9D9;
        height:2px;
        width:100%;
    }

    #comments-section{
        margin: 0 auto;
    }
}

ion-icon{
    position:relative;
    top:2px;
}

a {
    text-decoration: none;
}